<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>web Request로 파라미터 값 전달받기</h1>
    <form action = "regist" mathod="post">
        <label>등록할 메뉴 이름 : </label> <input type="text" name="name"/>
        <label>등록할 메뉴 가격 : </label> <input type="number" name="price"/>
        <label>등록할 메뉴 카테고리 : </label>
        <select name = "categoryCode">
            <option value="1">식사</option>
            <option value="2">음료</option>
            <option value="3">디저트</option>
        </select><br>

        <button type="submit">등록하기</button>

    </form>
</body>
</html>